@model PerfectProjects.Model.ViewModel.ShortPreviewModels

<div class="text-center">

    @if (Model != null)
    {
        int counter = 1;
        foreach (ShortPreviewModel element in Model.shortPreviewModels)
        {
            string output = "output" + (counter++);
            <div class="mb-3 justify-content-center text-center border-bottom">
                <div class="col-md-8 offset-md-2">
                    <h2>@element.ShortDescription.Title</h2>
                </div>
                <div class="col-md-8  offset-2">
                    <p><img id=@output src="data:image/gif;base64,@element.ImageString" /></p>
                </div>
                <div id="textArea" class="col-md-8  offset-md-2">
                    <p class="text-break">@element.ShortDescription.Description</p>
                </div>
                <div class="small col-md-2 offset-md-8">
                    <p>Author: @element.NickName</p>
                </div>
            </div>

        }
        @*<form method="post" enctype="multipart/form-data">
                <div class="d-sm-flex flex-row">
                    <div class=" col-sm-1 offset-sm-4 p-2">
                        <button type="submit" asp-route-SkipCounter="@Model.SkipCounter" asp-action="ClickedBackButton" class="btn btn-danger">back</button>
                    </div>

                    <div class=" col-sm-1 offset-sm-2 p-2">
                        <button type="submit" asp-route-SkipCounter="@Model.SkipCounter" asp-action="ClickedNextButton" class="btn btn-danger">next</button>
                    </div>
                    <p hidden>@Model.SkipCounter</p>
                </div>
            </form>*@

        <div class="d-sm-flex flex-row">
            <div class=" col-sm-1 offset-sm-4 p-2">
                <a  asp-route-SkipCounter="@Model.SkipCounter" asp-action="ClickedBackButton" class="btn btn-danger">back</a>
            </div>

            <div class=" col-sm-1 offset-sm-2 p-2">
                <a asp-route-SkipCounter="@Model.SkipCounter" asp-action="ClickedNextButton" class="btn btn-danger">next</a>
            </div>
            <p hidden>@Model.SkipCounter</p>
        </div>
       

<p hidden id="counter">@counter</p>

}
else
{
<div>
    <p>There are no available projects...</p>
</div>
}






</div>
<script src="~/js/HomePagePicFix.js"></script>
